.loginWrapper {
  max-width: 420px;
  width: 100%;
  max-height: 420px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.6rem;
  grid-auto-columns: min-content;
}

.loginWrapper > img {
  max-width: 360px;
  margin-bottom: 4.8rem;
}

.loginWrapper h1 {
  font-size: 2.25rem;
  color: var(--white);
}

.loginWrapper p {
  color: var(--text-highlight);
  padding: 1rem 0;
}

.githubButton {
  width: 100%;
  padding: 1.4rem;

  border: none;
  outline: none;
  font-size: 0;
  background-color: var(--blue-dark);
}
