.container {
  height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  background-color: var(--blue);
  position: relative;
}

.container > div > img {
  max-width: 768px;

  position: absolute;
  top: 6rem;
}
